{
    "plugins": [ 
        ["transform-remove-console", { "exclude": [  "warn"] }] ,
        [
            "rename-jsx-attribute",
            {
              "attributes": {
                "onPress": "onClick"
              }
            }
          ]
    ]
}